# Obtener valores de acciones, ETFs, fondos y planes de pensiones

### yfinance

In [1]:
import yfinance as yf

data = yf.download("bbva.mc", start="2023-06-12")
data

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close   Volume
Date
2023-06-12  6.554  6.606  6.498  6.554      6.554  7502358
2023-06-13  0.000  0.000  0.000  6.532      6.532    45254

In [2]:
#  ETFs
data = yf.download("vusa.as, iuse.mi, 6aqq.de", start="2023-06-13")
data

[*********************100%***********************]  3 of 3 completed

             Adj Close                             Close
               6AQQ.DE    IUSE.MI    VUSA.AS     6AQQ.DE    IUSE.MI
Date
2023-06-13  155.820007  92.849998  76.870003  155.820007  92.849998  \

                             High                               Low
              VUSA.AS     6AQQ.DE    IUSE.MI    VUSA.AS     6AQQ.DE
Date
2023-06-13  76.870003  156.119995  92.980003  76.910004  154.740005  \

                                        Open                        Volume
              IUSE.MI    VUSA.AS     6AQQ.DE    IUSE.MI    VUSA.AS 6AQQ.DE
Date
2023-06-13  92.290001  76.309998  155.520004  92.480003  76.542999   36268  \


           IUSE.MI VUSA.AS
Date
2023-06-13   28143   37476

### investpy

In [2]:
import investpy as inv

In [3]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt

# yahoo - retrieve daily stock prices (high, open, close, volu,e and adjusted close)
# yahoo-actions - retrieve historical corporate actions (dividends and stock splits)
# yahoo-dividends - retrieve historical dividends
df = web.DataReader('GOOG', 'yahoo', start='2019-09-10', end='2019-10-09')
print("Precios Google\n", df.head())


inicio = dt.datetime(2010, 1, 29)
fin = dt.datetime.today()
actions = web.DataReader('GOOG', 'yahoo-actions', inicio, fin)
print("\nSsplits: \n", actions.head())


dividendos = web.DataReader('IBM', 'yahoo-dividends', inicio, fin)
print("\nDividendos: \n", dividendos.head())

ModuleNotFoundError: No module named 'pandas_datareader'